{{ define "BONUS" }}
<!DOCTYPE html>
<html lang="en-US">
<head>
    {{ template "head" . }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
</head>
<body class="font-roboto flex items-center justify-center h-screen m-0 bg-gray-100 p-4">
    {{ template "souvenir" . }}
    <main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
            <div class="h-30">
                <h1 class="text-3xl font-bold text-gray-800">Le Bonus</h1>
                <p>Si tu es arrivé ici, c'est que tu es à la fin de l'exploration de mon petit site en notre honneur.<br></p>
                <p>J'espère que celui-ci t'auras plus autant qu'il m'a plus de passer du temps pour le réaliser.<br></p>
                <p>Je voulais te remémorrer tout ces petits souvenirs que nous avons passer ensemble.<br></p>
                <p>On vas continuer à s'en créer de plus en plus et plein de différents.<br></p>
                <p>Je t'aime<br></p>
            </div>
        </div>    
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
</body>
</html>
{{ end }}