{{ define "Famille" }}
<!DOCTYPE html>
<html lang="en-US">
<head>
    {{ template "head" . }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
</head>
<body class="font-roboto flex items-center justify-center h-screen m-0 bg-gray-100 p-4 bg-cover bg-center" style="background-image: url('http://127.0.0.1:8888/familly.jpg');">
    {{ template "souvenir" . }}
    <main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
            <div class="bg-white p-6 rounded-lg shadow-lg opacity-75">
                <h1 class="text-3xl font-bold text-gray-800">La Famille</h1>
                <p>Notre amour, c'est aussi notre famille et j'espère qu'on pourra continuer à l'aggrandir ensemble</p>
            </div>
        </div>   
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
</body>
</html>
{{ end }}