{{ define "Noel1" }}
<!DOCTYPE html>
<html lang="en-US">
<head>
    {{ template "head" . }}
    <body class="font-roboto flex items-center justify-center h-screen m-0 bg-gray-100 p-4 bg-cover bg-center" style="background-image: url('http://127.0.0.1:8888/gif-christmas-tree-46.gif');">    
</head>
<body class="font-roboto flex items-center justify-center h-screen m-0 bg-gray-100 p-4">
    {{ template "souvenir" . }}
    <main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
            <!-- White container for text -->
            <div class="bg-white p-6 rounded-lg shadow-lg opacity-75">
                <h1 class="text-3xl font-bold text-gray-800">Notre tout premier Noel</h1>
                <p>
                    Notre tout premier noel ensemble, au début, j'avais peur qu'on ne puisse pas le passer ensemble...
                    <br>
                    Mais, finalement, on a réussi à trouver des compromis au seins de nos deux familles!
                    <br>
                    J'espère qu'à partir de ce moment, nous ne passerons jamais aucun noel séparé..
                    <br>
                    Plus que 6 jours avant le prochain Noel et j'ai hâte d'encore passer ce moment avec toi et ta famille
                </p>
            </div>
        </div>   
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
</body>
</html>
{{ end }}